<div class="container">
  <h1>Create a new Cocktail</h1>

  <% if @cocktail.errors.any? %>
    <ul>
      <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render 'form', cocktail: @cocktail %>

  <%= link_to 'Back', cocktails_path %>
</div>
